
.bannertwitter-color{
  background-color: linear-gradient(to bottom right, rgba(84,203,232,0.7), rgba(147,24,255,0.5));
}

.bannertwitter-color {
  margin-top: 55px;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: image-url('twitter.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bannertwitter-color hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bannertwitter-color h1 {
  font-size: 2rem;
}

.bannertwitter-color p {
  font-weight: 300;
}

.text-uppercase{
  color: #fff;
}

.row{
  width: 50%;
}

.my-auto{
  display: flex;
  justify-content: space-between;
}

.register_twitter{
  width: 50%;
}

#mc_embed_signup{
  margin: 0 15px;
  width: 90%;
  background-color: #11ffee00;
  border-radius: 5px;
}
