
.text-uppercase{
  color: #fff;
}



.row{
  width: 50%;
}

.my-auto{
  display: flex;
  justify-content: space-between;
}

.register_twitter{
  width: 50%;
}

#mc_embed_signup{
  margin: 0 15px;
  width: 90%;
  background-color: #11ffee00;
  border-radius: 5px;
}
