<meta charset="UTF-8">
<p>
Bonjour,<br /><br />
Nous vous contactons afin de vous parler de The Hacking Project, une société proposant des formations gratuites en développement web et en business dev.
Cette formation est ouverte à tous-tes, quel que soit le niveau. La formation est gratuite et se base sur le peer learning afin de permettre à chacun-e d'avoir l'aide nécessaire pour progresser et créer une communauté soudée basée sur l'entraide.
<br /><br />
Vous trouverez ici un lien vers une landing page réalisée pendant la formation par une des équipes :

<br /><br />
Cordialement,
<br />
Les moussaillon-ne-s de la session 5 de The Hacking Project à Rennes.
<br /><br />
P.S. : Voici l'adresse du site officiel de la formation : <a href="https://www.thehackingproject.org">The Hacking Project</a>
</p>
