.introduce-container{
	align-items: center;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 1px solid #17a2b8;
}

.text-introduce{
	margin-bottom: 20px;
	font-size: 24px;
	color: #17a2b8;
}
