.register_index {
  text-align: center;
  width: 50%;
  margin: auto;
}

.register-container{
  margin: 30px 0px;
  align-items: center;
  text-align: center;
  width: 50%;

}

.btn-primary{
  margin-top: 10px;
}

h2{
	color: #17a2b8;
}
