<div class="banner-color">
<div class="banner">
<%= image_tag("laptop.jpg", :class => 'img-landscape') %>
</div>
<div class="text-center">
		<h1> Tu veux apprendre à coder ?</h1>
		<h3>Rejoins nous à THP !</h3>
	</div>
		<div class= "join">
			<a class="button" href="#register">Nous rejoindre</a>
		</div>
</div>
</div>
