<div class="bannerfacebook-color">
  <div class="banner-3">
        <%= image_tag("bg-showcase-2.jpg", :class => 'img-screen') %>
  </div>
  <div class="text-center">
    <h1><strong> Tu veux apprendre à coder ?</h1>
    <h3>Rejoins nous à THP !</strong></h3>
  </div>
    <div class= "join">
      <a class="button" href="#register">Nous rejoindre</a>
    </div>
</div>

  </div>
</div>
