<section class="container introduce-container" id="introduce">
	<div class="text-introduce">
		<p> Si tu veux en apprendre d'avantage sur The Hacking Project, je t'invite à regarder cette vidéo !</p>
	</div>
	<div class="video">
		<iframe width="710.8" height="369.2" src="https://www.youtube.com/embed/c4D786zRO6g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
		</iframe>
	</div>
</section>
